<!--
Если ты это читаешь,
значит опять открыл исходный код.
Хорошего дня :D
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Кофе место силы</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="icon" href="/static/favicon.ico">
</head>

<body>
	<header>
		<nav>
			<a href="#hero">Главная</a>
			<a href="#menu">Меню</a>
			<a href="#about">О нас</a>
			<a href="#contacts">Контакты</a>
		</nav>
	</header>

	<section id="hero">
		<div class="hero_content">
			<h1 class="hero_title">
				МЕСТО ТВОЕЙ СИЛЫ
			</h1>

			<h2 class="hero_subtitle">
				Авторский кофе • Десерты • Атмосфера
			</h2>

			<div class="hero_buttons">
				<a href="#menu" class="btn">Посмотреть меню</a>

				<a href="#contacts" class="btn">Контакты</a>
			</div>
		</div>
	</section>

	<section id="menu" class="menu"> <!--IN DEVELOPEMENT ЕМАЕ, НЕ ТРОГАТЬ!!!!11!!111-->
		<div class="menu_container" id="menu_container">

		</div>
	</section>

	<section id="about" class="about">
		<div>
			<p>Наша кофейня, это не просто кофейня, а кофейня, которая заставила бэкендера, который фуллстечил этот сайт биться в конвульсиях от CSS. 
				Рядом вы можете увидеть фотографию нашего кафе. 
				а можете и не увидетью зависит от того, насколько разраб (чайный пьяница) напился зеленым чаем в нашей шикарной кофейне.
				p.s. скиньтесь мне на сервак для деплоя этого шедевра пж, я нищий.
			</p>
			<div id="photo1" class="about_photo"></div> <!--я все же напился-->
		</div>
	</section>

	<footer>
		<p class="copyright">Made by Redline Tech, 2026</p>
	</footer>
	<script src="../static/js/script.js"></script>
</body>

</html>
<!--
Made with love, кофе и небольшим количеством боли.
-->